
<ion-header>

  <ion-navbar>
    <ion-title>Contact us</ion-title>
  </ion-navbar>
  <p>Contact us using the form below, we will try our best to get back to you.</p>

</ion-header>


<ion-content padding>
  <form *ngIf="contactus" [formGroup]="contacts"  (onSubmit)="submit()">
    <ion-item>
    
      <ion-input type="text" formControlName="name" placeholder="Name">  <ion-icon name="call"></ion-icon></ion-input>
    </ion-item>
   
    <ion-item no-lines *ngIf="( contacts.get('name').hasError('minlength') || contacts.get('name').hasError('pattern') ||contacts.get('name').hasError('required') ) && contacts.get('name').touched">
      <div class="error" *ngIf="contacts.get('name').hasError('required') && contacts.get('name').touched ">
        Please input your name
      </div>
      <div class="error" *ngIf="contacts.get('name').hasError('pattern') && contacts.get('name').touched">
         Invalid name
      </div>
      <div class="error" *ngIf=" contacts.get('name').hasError('minlength')">
        Enter valid length for name
      </div>
    </ion-item>
    <ion-item>
        <label><ion-icon name="mail"></ion-icon>Email Address:</label>
        <ion-input type="text" formControlName="email" placeholder="Email" ></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( contacts.get('email').hasError('minlength') || contacts.get('email').hasError('pattern') ||contacts.get('email').hasError('required') ) && contacts.get('email').touched">
        <div class="error" *ngIf="contacts.get('email').hasError('required') && contacts.get('email').touched ">
          Please input your email
        </div>
        <div class="error" *ngIf="contacts.get('email').hasError('pattern') && contacts.get('email').touched">
           Invalid email
        </div>
        <div class="error" *ngIf=" contacts.get('email').hasError('minlength')">
          Enter valid length for email
        </div>
      </ion-item>
      <ion-item>
          <ion-input type="text" formControlName="contactNo" placeholder="Contact No" ></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( contacts.get('contactNo').hasError('minlength') || contacts.get('contactNo').hasError('pattern') ||contacts.get('contactNo').hasError('required') ) && contacts.get('contactNo').touched">
          <div class="error" *ngIf="contacts.get('contactNo').hasError('required') && contacts.get('contactNo').touched ">
            Please input your number
          </div>
          <div class="error" *ngIf="contacts.get('contactNo').hasError('pattern') && contacts.get('contactNo').touched">
             Invalid number
          </div>
          <div class="error" *ngIf=" contacts.get('contactNo').hasError('minlength')  && contacts.get('contactNo').touched">
            Enter valid length for number
          </div>
        </ion-item>
        <ion-item>
           
            <ion-input type="text" formControlName="subject" placeholder="Your subject" ></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="( contacts.get('subject').hasError('minlength') || contacts.get('subject').hasError('pattern') ||contacts.get('subject').hasError('required') ) && contacts.get('subject').touched">
            <div class="error" *ngIf="contacts.get('subject').hasError('required') && contacts.get('subject').touched ">
              Please input your subject
            </div>
            <div class="error" *ngIf="contacts.get('subject').hasError('pattern') && contacts.get('subject').touched">
               Invalid subject
            </div>
            <div class="error" *ngIf=" contacts.get('subject').hasError('minlength')">
              Enter valid length for subject
            </div>
          </ion-item>
        <ion-item>
            <textarea   placeholder="Your message..."formControlName="message" style="width: 200px;"></textarea>
          </ion-item>
          <ion-item no-lines *ngIf="( contacts.get('message').hasError('minlength') || contacts.get('message').hasError('pattern') ||contacts.get('message').hasError('required') ) && contacts.get('message').touched">
            <div class="error" *ngIf="contacts.get('message').hasError('required') && contacts.get('message').touched ">
              Please input your message
            </div>
            <div class="error" *ngIf="contacts.get('message').hasError('pattern') && contacts.get('message').touched">
               Invalid message
            </div>
            <div class="error" *ngIf=" contacts.get('message').hasError('minlength')">
              Enter valid length for message
            </div>
          </ion-item>
          
     <button ion-button round (click)="submit()">Submit</button>
          
        

  </form>

</ion-content>
