<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="todo" >
               
    <ion-item >
      <ion-label floating> <ion-icon name="mail" item-start></ion-icon>Email</ion-label>
      <ion-input type= "text" formControlName= "email" [class.error1]="!todo.controls.email.valid && todo.controls.email.dirty"> Email</ion-input>
    </ion-item>


    <ion-item no-lines *ngIf="( todo.get('email').hasError('minlength') || todo.get('email').hasError('pattern') ||todo.get('email').hasError('required') ) && todo.get('email').touched">
      <div class="error" *ngIf="todo.get('email').hasError('required') && todo.get('email').touched">
        Please input your email
      </div>
      <div class="error" *ngIf="todo.get('email').hasError('pattern') && todo.get('email').touched">
        Email address invalid
      </div>
    </ion-item>
  
  
    <ion-item >
      <ion-label floating> <ion-icon name="key" item-start></ion-icon> Password</ion-label>
      
      <ion-input type= "password" formControlName="password"  [class.error1]="!todo.controls.password.valid && todo.controls.password.dirty"> Password</ion-input>
  </ion-item>

  <ion-item no-lines *ngIf="( todo.get('password').hasError('minlength') || todo.get('password').hasError('maxlength') ||todo.get('password').hasError('required') ) && todo.get('password').touched">
    <div class="error" *ngIf="todo.get('password').hasError('required') && todo.get('password').touched">
      Please input your password
    </div>
    <div class="error" *ngIf="todo.get('password').hasError('minlength') && todo.get('password').touched">
      Minimum 6 characters
    </div>
    <div class="error" *ngIf="todo.get('password').hasError('maxlength') && todo.get('password').touched">
      Maximum 12 characters
    </div>
  </ion-item>
  
       
  
        
        <br> <br>
       <button ion-button (click)="LogIn()">LogIn</button>
  
      </form>   
 

</ion-content>
