<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="more"></ion-icon>
    </button>

        <div *ngIf = "adminBtn == 2"><ion-title style="text-align:center">Home</ion-title></div>
      <!-- <span style="transform: translateX(45px)" >
        Admin
      </span> -->
      <div  *ngIf = "adminBtn == 1" (click)="admin()">
        <ion-title text-cente style="transform: translate(60px,8px)">Home</ion-title>
       <div style="transform: translate(245px,-10px)">Admin</div>
      </div>
  
  
</ion-navbar>
 
</ion-header>

<ion-content padding class="ion">
  
  <!-- <ion-list>
    <ion-item class="list">
      <strong>Status:</strong> {{ data?.status}}
      
    </ion-item>

    <ion-item>
      <strong>Title:</strong> {{ data?.articles[0].title}}
    </ion-item>
    <ion-item>
      <strong>Date:</strong> {{ data?.articles[0].publishedAt}}
    </ion-item>
    <ion-item>
      <strong>Url:</strong> {{ data?.articles[0].url}} staff reporter. published 25 aug 2018 @ time
    </ion-item>

    <ion-item>
      <div class="icon">
        <img src='http://cdn.24.co.za/files/Cms/General/d/1790/{{ data?.articles[0].urlToImage }}.gif' width="150" height="150">
      </div>
    </ion-item>
  </ion-list> -->
  <!-- <ion-item>
    <ion-label floating>URL</ion-label>
    <ion-input type="url" [(ngModel)]="url"></ion-input>
  </ion-item>

  <button ion-button block clear (click)="openWebpage(url)">Open Webpage</button> -->

  <!-- The Card -->
  <ion-card *ngFor="let feed of feeds" class="ion">

    <ion-item class="clr">
      <ion-avatar item-start>
        <!-- <img src="http://cdn.24.co.za/files/Cms/General/d/6559/{{ data?.articles[0].urlToImage }}.png"> -->
        <img src='./assets/imgs/news24.jpg'>
      </ion-avatar>
      <h2>Published by News24</h2>
      <p><small class="fontC">{{ feed.publishedAt }}</small></p>
    </ion-item>

    <ion-card-content>
      <ion-row>
        <ion-col align-self-center text-center>
          <img src="{{ feed.urlToImage }}">
        </ion-col>
      </ion-row>
      <ion-card-title>
        {{ feed.title }}
      </ion-card-title>
      <p class="fontC">{{ feed.description}}</p>
    </ion-card-content>

    <ion-row class="padUp">
      <ion-col align-self-center text-center>
        <ion-note>
          <small>By staff reporter</small>
        </ion-note>
      </ion-col>

      <ion-col align-self-center text-cente>
       <ion-note> <small>{{ timeAgo }}</small></ion-note>
      </ion-col>

      <ion-col>
        <button ion-button color="primary" clear small icon-start (click)="news24(feed.url)">
          <ion-icon name='text'></ion-icon>
          <!-- <a href="{{ feed.url }}">Read more..</a> -->
          read more
        </button>

      </ion-col>
    </ion-row>
  </ion-card>

  <!-- //Refresher -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="bubbles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>