page-home {
  
//   .ion{
// background: rgb(255,145,145);
// background: -moz-linear-gradient(45deg, rgb(255,145,145) 0%, rgb(219,232,235) 48%, rgb(77,109,247) 100%);
// background: -webkit-linear-gradient(45deg, rgb(255,145,145) 0%, rgb(219,232,235) 48%, rgb(77,109,247) 100%);
// background: linear-gradient(45deg, rgb(255,145,145) 0%, rgb(219,232,235) 48%, rgb(77,109,247) 100%);
// }
  
//   .clr{
//     background: rgb(255,145,145);
// background: -moz-linear-gradient(top, rgb(255,145,145) 0%, rgb(219,232,235) 48%, rgb(77,109,247) 100%);
// background: -webkit-linear-gradient(top, rgb(255,145,145) 0%, rgb(219,232,235) 48%, rgb(77,109,247) 100%);
// background: linear-gradient(to bottom, rgb(255,145,145) 0%, rgb(219,232,235) 48%, rgb(77,109,247) 100%);
//   }


.card-background-page {

        ion-card {
          position: relative;
          text-align: center;
           opacity: .7;
           background: rgb(255,145,145);
           background: -moz-linear-gradient(45deg, rgb(255,145,145) 0%, rgb(219,232,235) 48%, rgb(77,109,247) 100%);
           background: -webkit-linear-gradient(45deg, rgb(255,145,145) 0%, rgb(219,232,235) 48%, rgb(77,109,247) 100%);
           background: linear-gradient(45deg, rgb(255,145,145) 0%, rgb(219,232,235) 48%, rgb(77,109,247) 100%);
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          // color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          // color: #fff;
        }
      
      }

      a{
        text-decoration: none;
      }

      // .fontC{
      //   color: black;
      // }
      
}
